<%- include("../partials/header") %>

	<div class="row">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-9">
			<div class="card mb-3">
				<img class="card-img-top" src="<%= event.image %>" alt="<%= event.name %>">
                  <div class="card-body">
					  <p class="float-right">$<%= event.price %>/night</p>
                    <h5 class="card-title"><%= event.name %></h5>
					  <p>
						  <em>Submitted By <a href="/users/<%=event.author.id%>"><%= event.author.username %></a>, <%= moment(event.createdOn).fromNow() %></em>
					</p>
					 <hr>
                   <p class="card-text"><%= event.description %></p>
					  
					  <!-- like button -->
					  <form action="/events/<%= event._id %>/like" method="POST">
						  <div class="btn-group float-right">
							  <% if (currentUser && event.likes.some(function (like) {
                return like.equals(currentUser._id)
            })) { %>
                <button class="btn btn-sm btn-primary">
                    <i class="fas fa-thumbs-up"></i> Liked (<%= event.likes.length %>)
                </button>
            <% } else { %>
                <button class="btn btn-sm btn-link">
                    <i class="fas fa-thumbs-up"></i> Like (<%= event.likes.length %>)
                </button>
            <% } %>
						  </div>
					  </form>
					
					<% if(currentUser && event.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-sm btn-warning" href="/events/<%= event._id%>/edit">Edit</a>
						<form class="delete-form" action="/events/<%= event._id%>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger">Delete</button>	
						</form>
					<% } %>
                  </div>
            </div>
			
			<!-- Reviews Section -->
			<div class="card bg-light mb-3">
				<div class="card-body">
					<div class="text-right">
						<h4 class="float-left">Reviews for this event: </h4>
						<a class="btn btn-success <% if (currentUser && event.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/events/<%= event._id %>/reviews/new">
	                    	Write a Review
						</a>
	                </div>
	                <!-- <hr> -->
					<div class="card-body">
						<% if(event.rating === 0) { %>
							<h5>
								<em>No reviews yet.</em>
							</h5>
						<% }else{ %>
							<div>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star <% if(event.rating > 1.5){ %> checked <% } %>"></span>
								<span class="fa fa-star <% if(event.rating > 2.5){ %> checked <% } %>"></span>
								<span class="fa fa-star <% if(event.rating > 3.5){ %> checked <% } %>"></span>
								<span class="fa fa-star <% if(event.rating > 4.5){ %> checked <% } %>"></span>
								<em>Total reviews: <%= event.reviews.length %> </em>
							</div>
							<p>
								Average rating: <strong><%= event.rating.toFixed(2) %></strong>
							</p>
							
							<hr style="margin-top: 0;">
					
							<div class="row">
								<% event.reviews.slice(0, 5).forEach(function(review){ %>
									<div class="col-md-12 mb-2">
										<div class="card">
											<div class="card-body">
												<div>
													<p class="card-title">
														Review by: <a href="/users/<%=review.author.id%>"><strong><%= review.author.username %></strong></a>
														
														<em class="float-right"><%= moment(review.createdOn).fromNow() %></em>
													</p>
													
												</div>
												<div class="float-left">
													<%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
													<p class="card-text">
														<%= review.text %>
													</p>
												</div>
												<div class="float-right">
													<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
														<div class="float-right">
															<a class="btn btn-sm btn-warning" href="/events/<%=event._id %>/reviews/<%=review._id %>/edit">
																Edit
															</a>
															<form class="delete-form" action="/events/<%=event._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
																<input type="submit" class="btn btn-sm btn-danger" value="Delete">
															</form>
														</div>
													<% } %>
												</div>
											</div>
										</div>
									</div>
									<hr>
								<% }); %>
							</div>
	                    <% } %>
	                    <div style="margin-top: 10px;">
							<a href="/events/<%= event._id %>/reviews"> See More Reviews</a>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

<%- include("../partials/footer") %>